{
  "swagger": "2.0",
  "info": {
    "title": "BankingAPI - GET Endpoints",
    "version": "1.0"
  },
  "host": "el-barka.runasp.net",
  "schemes": ["http"],
  "paths": {
    "/api/Aml": {
      "get": {
        "tags": ["Aml"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Aml/{id}": {
      "get": {
        "tags": ["Aml"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Aml/NationalId/{nationalId}": {
      "get": {
        "tags": ["Aml"],
        "parameters": [
          {
            "name": "nationalId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/CoreAccount": {
      "get": {
        "tags": ["CoreAccount"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/CoreAccount/{accountNumber}": {
      "get": {
        "tags": ["CoreAccount"],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/CoreCustomer": {
      "get": {
        "tags": ["CoreCustomer"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/CoreCustomer/CIF/{cif}": {
      "get": {
        "tags": ["CoreCustomer"],
        "parameters": [
          {
            "name": "cif",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/CoreCustomer/NationalId/{nationalId}": {
      "get": {
        "tags": ["CoreCustomer"],
        "parameters": [
          {
            "name": "nationalId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Ecm/Folders": {
      "get": {
        "tags": ["Ecm"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Ecm/Folders/{cif}": {
      "get": {
        "tags": ["Ecm"],
        "parameters": [
          {
            "name": "cif",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Ecm/Folders/{id}": {
      "put": {
        "tags": ["Ecm"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": ["Ecm"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Ecm/Documents": {
      "get": {
        "tags": ["Ecm"],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Ecm/Documents/{id}": {
      "get": {
        "tags": ["Ecm"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "put": {
        "tags": ["Ecm"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      },
      "delete": {
        "tags": ["Ecm"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}