{
  "swagger": "2.0",
  "info": {
    "title": "BankingAPI - PUT Endpoints",
    "version": "1.0"
  },
  "host": "el-barka.runasp.net",
  "schemes": ["http"],
  "paths": {
    "/api/Aml/{id}": {
      "put": {
        "tags": ["Aml"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AmlScreening"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/CoreAccount/{accountNumber}": {
      "put": {
        "tags": ["CoreAccount"],
        "parameters": [
          {
            "name": "accountNumber",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CoreAccount"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/CoreCustomer/{cif}": {
      "put": {
        "tags": ["CoreCustomer"],
        "parameters": [
          {
            "name": "cif",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CoreCustomer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/Ecm/Folders/{id}": {
      "put": {
        "tags": ["Ecm"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EcmFolder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  },
  "definitions": {
  }
}